{% if site.footer-links.email %}<div align="left"><a href="mailto:{{ site.footer-links.email }}">{{site.footer-links.email}}</a></div>{% endif %}
<div align="center">
<div align="float:left"><a href="https://github.com/{{ site.footer-links.github }}"><i class="svg-icon github"></i> {{ site.footer-links.github }}</a></div>
<div align="float:left"><a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="svg-icon linkedin"></i>{{ site.footer-links.linkedin }}</a></div>
<div align="float:left"><a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="svg-icon twitter"></i>{{ site.footer-links.twitter }}</a></div>
</div>
