<div align="left"> <b>Contact</b>: <br/> </div>
<div class="row">
<div class="column"><a href="mailto:{{ site.footer-links.email }}" style="float:left;">{{site.footer-links.email}}</a>
<br style="clear:both" />
<a href="mailto:{{ site.footer-links.email2 }}" style="float:left;">{{site.footer-links.email2}}</a>
</div>
<div class="column">
<a href="https://github.com/{{ site.footer-links.github }}" style="float:left;"> Github </a><br style="clear:both" />
<a href="https://www.twitter.com/{{ site.footer-links.twitter }}" style="float:left;"> Twitter</a>
