<div align="left"> <b>Contact</b>: <br/> </div>
<div class="row">
<div class="column"><a href="mailto:{{ site.footer-links.email }}" style="float:left;">{{site.footer-links.email}}</a>
<br style="clear:both" />
<a href="mailto:{{ site.footer-links.email2 }}" style="float:left;">{{site.footer-links.email2}}</a>
</div>
<div class="column">
<a href="https://github.com/{{ site.footer-links.github }}" style="float:left;"> Github </a><br style="clear:both" />
<a href="https://www.twitter.com/{{ site.footer-links.twitter }}" style="float:left;"> Twitter</a>
</div>
 <a href="https://info.flagcounter.com/IxFX"><img src="https://s11.flagcounter.com/count2/IxFX/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0"></a> 
</div>
